{
  "printWidth": 120,
  "tabWidth": 3,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "insertPragma": false,
  "useTabs": false,
  "semi": true,
  "endOfLine": "lf"
}
